@import "../../style.scss";

.movie-column {
    margin: 20px 0;
    width: 100%;

    @media (min-width: $breakpoint-md) {
        width: 48%;
    }

    @media (min-width: $breakpoint-lg) {
        width: 31%;
    }

    @media (min-width: $breakpoint-xl) {
        width: 31%;
    }

    a {
        text-decoration: none;
    }

    &-full {
        width: 100%;
    }
}

.movie-card {
    width: 100%;
    height: auto;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(189,185,189,1);
    -moz-box-shadow: 0px 0px 23px 0px rgba(189,185,189,1);
    box-shadow: 0px 0px 23px 0px rgba(189,185,189,1);
    transition: box-shadow 0.3s;

    &:hover {
        -webkit-box-shadow: 0px 0px 23px 0px rgb(112, 112, 112);
        -moz-box-shadow: 0px 0px 23px 0px rgb(112, 112, 112);
        box-shadow: 0px 0px 23px 0px rgb(112, 112, 112);
    }  

    .description {
        width: 100%;
        padding: 5px 15px;
    }
}

.movie-full-page-column {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $theme-color-grey-background;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
    }

    .image-wrapper {
        width: 100%;

        @media (min-width: $breakpoint-md) {
            width: 50%;
        }   

        @media (min-width: $breakpoint-lg) {
            width: 30%;
        }   

        img {
            background-size: cover;
            width: 100%;
            height: auto;
        }
    }

    .description {
      padding: 10px;

        @media (min-width: $breakpoint-md) {
            flex-direction: row;
            padding: 10px 20px;
        }
    }

    .primary-info-container {
        margin-top: 20px;
        font-size: 18px;
        line-height: 1.6rem;
    }

    .info-lists-container {
        display: flex;
        flex-wrap: wrap;

        div {
            margin: 10px;
        }
    }
}

.icon-value-list {
    margin: 15px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;

    .fas, .far {
        margin-right: 7px;
    }
}