@import "../style.scss";

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;

    .logo {
        font-size: 24px;
        font-weight: 500;
        color: $font-color;
    }

    a {
        text-decoration: none;
    }
}