@import "../style.scss";

$button-width: 120px;
$input-right-margin: 10px;

.movie-search {
    width: 100%;

    button {
        width: $button-width;
    }

    input {
        margin-right: $input-right-margin;
        width: calc(#{100%} - #{$button-width} - #{$input-right-margin})
    }
}
