@import "style.scss";

$form-element-height: 30px;
$form-element-height-md: 40px;

input {
    background-color: #fff;
    border-radius: 3px;
    height: $form-element-height;
    border-radius: 3px;
}

.input-md {
    padding: 7px 10px;
    font-size: 18px;
    height: $form-element-height-md;
}

button {
    background-color: $theme-color;
    color: #fff;
    border: 1px solid $theme-color;
    border-radius: 3px;
    font-size: 16px;
    height: $form-element-height;
}

.button-secondary {
    background-color: $theme-color-secondary;
}

.button-inline {
    border: 1px solid #fff;
}

.button-md {
    width: 80px;
    padding: 10px 8px;
    border-radius: 5px;
    height: $form-element-height-md;
}