$theme-color: #7002e7;
$theme-color-secondary: rgb(103, 194, 18);
$theme-color-grey-background: #f4f4f4;
$font-color: #222;
$font-color-muted:#555;
$font-color-highlight: #000;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992 px;
$breakpoint-xl: 1200px;

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: $font-color;
}

p, h1, h2, h3, h4, h5 {
    color: $font-color;
}

.light {
    font-weight: 300;
}

.muted {
    color: $font-color-muted;
}

.highlight {
    color: $font-color-highlight;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $breakpoint-sm) {
        width: 80%;
    }

    @media (min-width: $breakpoint-md) {
        width: 75%;
    }

    @media (min-width: $breakpoint-lg) {
        width: 850px;
    }

    @media (min-width: $breakpoint-xl) {
        width: 1200px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.jumbotron {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: $theme-color;
    color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-space-between {
    justify-content: space-between;
}

.far, .fas {
    color: $theme-color;
}